<% if notice %>
  <p id="notice"><%= notice %></p>
  
<% end %>
<h2>tottem</h2>
<h5> <%= session[:counter] %>  veces </h5>
<ul>
<% @cart.line_items.each do |item| %>
  <li><%= item.quantity %> &times;  <%= item.product.title %></li>
<% end %>
</ul>
